* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  overflow-x: hidden; /* Prevents entire page from scrolling horizontally */
  /* color: #333; */
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 5px;
  }
}
